<div class="container">
  <div class="login">
    <form ng-submit="login()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          class="form-control"
          [(ngModel)]="userService.username"
          name="username"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
        />
      </div>
    </form>
    <button class="btn btn-primary" (click)="login()">Login</button>
  </div>
</div>
