<div class="profile">
  <div class="left">
    <div class="details">
      <img src="{{ userService.user.profileImage }}" />
      <span
        >{{ userService.user.firstName }} {{ userService.user.lastName }}</span
      >
      <span class="badge bg-info">UX Designer</span>
      <span>{{ userService.user.email }}</span>
      <span class="last-login">Last logged in: Today at 2:18pm</span>
    </div>
    <ul class="links">
      <li *ngFor="let link of links" [ngClass]="{ active: link.active }">
        <i [class]="link.icon"></i> {{ link.label }}
      </li>
    </ul>
  </div>
  <div class="right">
    <h2>Profile <span class="badge">RRO</span></h2>

    <form>
      <strong class="d-block h5 pb-2 border-bottom">Personal Info</strong>

      <div class="row mb-3">
        <label for="profilePicture" class="col-sm-2 col-form-label">
          <img src="{{ userService.user.profileImage }}" />
        </label>
        <div class="col-sm-10">
          <div class="input-group mb-3">
            <input
              type="file"
              class="form-control"
              placeholder="Profilbild"
              aria-label="Profilbild"
              aria-describedby="button-addon2"
              id="profilePicture"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-update"
            >
              Update Image
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="username" class="col-sm-2 col-form-label">User Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="username"
            [value]="userService.user.userName"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="firstname" class="col-sm-2 col-form-label"
          >First Name</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="firstname"
            [value]="userService.user.firstName"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="lastname"
            [value]="userService.user.lastName"
          />
        </div>
      </div>

      <strong class="d-block h5 pb-2 border-bottom">Contact Info</strong>
      <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="email"
            [value]="userService.user.email"
          />
          <div class="form-text">This is the email</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="twitter" class="col-sm-2 col-form-label">Twitter</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="twitter"
            [value]="userService.user.twitter"
          />
          <div class="form-text">Your Twitter username</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="linkedin" class="col-sm-2 col-form-label">LinkedIn</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="linkedin"
            [value]="userService.user.linkedin"
          />
          <div class="form-text">e.g. https://www.linkedin.com/in/yourname</div>
        </div>
      </div>
      <strong class="d-block h5 pb-2 border-bottom"></strong>
      <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" id="submit">
            Update Profile
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
